body {
	margin: 0;
}

.page {
	position: relative;
	height: 100vh;
	width: 100%;
}

#piano {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#team-page #team-container {
	border-style: solid;
	border-width: 2px;
	height: 70.888888889vh;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

#team-page #team-container .button {
	display: inline-block;
	height: 100%;
	width: 10%;
	border-style: solid;
	border-width: 3px;
}

#team-page #team-container .wrapper {
	display: inline-block;
	height: 100%;
	width: 77%;
	border-style: solid;
	border-width: 3px;
}

#team-page #team-container .wrapper #team .member {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#team-page #team-page-title {
	height: 18vh;
}

#team-page footer {
	position: absolute;
	height: 11.111111111vh;
	width: 100%;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 50px 0 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

#team-page footer .icon-container {
	display: inline-block;
	margin-left: 10px;
}

.icon {
	padding-bottom: 100%; /* set height equal to width */
	width: 5.5vh; /* 2/3 * footer height*/
}