#piano-page {
	background-color: #f4b430;	
}

#project-page {
	background-color: #8D4898;
}

#team-page {
	background-color: #FBFBF9;
}

#team-page footer {
	background-color: #F1F1F1;
}

#team-container .button {
    border: solid #B0B0AE;
    border-width: 0 3px 3px 0;
	cursor: pointer;
}

.button#left {
	visibility: hidden;
}

#team-container .card {
	background-color: red;
}

.icon {
	/* background-color: #CAC0C0; */
	border-radius: 50%;
}

.icon#github {
	background-image: url("../res/GitHub-Mark-64px.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#title-container hr {
	border: solid #DCDCDA 3px;
}


/* PIANO STYLE */
#piano .keys {
    background-color: #f4b430;
    display: flex;
    justify-content: center;
}

#piano .keys .key {
    background-color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    height: 10rem;
    margin: 0.1rem;
    transition: background-color 0.3s;
    width: 3rem;
}

#piano .keys .black {
    width: 0;
    margin: 0;
    z-index: 2;
}

#piano .keys .black::before {
    background-color: #f4b430;
    border-radius: 0 0 0.2rem 0.2rem;
    content: "";
    display: block;
    height: 6rem;
    left: -0.9rem;
    position: relative;
    top: 0;
    transition: background-color 0.3s;
    width: 1.8rem;
}

#piano .key.indicate {
    animation-name: indicate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#piano .key.black.indicate::before {
	animation-name: indicate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#piano .key.pressed { /* for auto replay */
	background-color: #8D4898;
}
#piano .key:active { /* for human hand play */
	background-color: #8D4898;
}

#piano .key.black.pressed::before{
	background-color: black;
}
#piano .key.black:active::before {
	background-color: black;
}

@keyframes indicate {
	0%   {}
	25%  {background-color: #7bdece}
	50%  {background-color: #7bdece}
	85%  {}
	100% {}
}

/* END OF PIANO STYLE */