#piano-page {
	background-color: #f4b430;	
}

#project-page {
	background-color: #8D4898;
}

#team-page {
	background-color: #FBFBF9;
}

#team-page footer {
	background-color: #F1F1F1;
}

#team-container .button {
	font-weight: bold;
	font-size: 24px;
    border: solid black;
    border-width: 0 3px 3px 0;
}

#team-container .card {
	background-color: red;
}

.icon {
	background-color: #CAC0C0;
	border-radius: 50%;
}


/* PIANO STYLE */
#piano .keys {
    background-color: #f4b430;
    display: flex;
    justify-content: center;
}

#piano .keys .key {
    background-color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    height: 10rem;
    margin: 0.1rem;
    width: 3rem;
}

#piano .keys .black {
    width: 0;
    margin: 0;
    z-index: 2;
}

#piano .keys .black::after {
    background-color: #f4b430;
    border-radius: 0 0 0.2rem 0.2rem;
    content: "";
    display: block;
    height: 6rem;
    left: -0.9rem;
    position: relative;
    top: 0;
    width: 1.8rem;
}

/* END OF PIANO STYLE */