.MuziFace {
    background-image: url(../../assets/MuziFace.js);
    background-size: contain;
}

.KuroFace {
    background-image: url(../../assets/KuroFace.js);
    background-size: contain;
}

#hud {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

#hud #playerInfo {
    position: absolute;
    top: 1vh;
    left: 0.5vh;
    width: 20%;
    height: 15%;
    background-color: #6c6c6c;
    opacity: 1;
    border-radius: 5%;
    border-style: solid;
    border-width: thin;
}

#hud #playerInfo #player, #hud #playerInfo #partner {
    width: 45%; /*50%*/
    height: 50%;
    display: float;
    float: left;
    /*border-style: solid;
    border-width: thin;*/
}

#hud #playerInfo .imageContainer {    
    width: 40%;
    height: 100%;
    display: float;
    float: left;
    border-radius: 50%;
    align-items: center;
    background-color: #4dffff;
    /*border-style: solid;
    border-width: thin;*/
}

#hud #playerInfo #player .playerRoleImage {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    /*border-style: solid;
    border-width: thin;*/
}

#hud #playerInfo .nameContainer {
    width: 50%; /*60*/
    height: 100%;
    display: float;
    float: left;
    /*border-style: solid;
    border-width: thin;*/
    border-radius: 0%;
    background-color: #4dffff;
}

#hud #playerInfo .nameContainer p {
    top: 50%;
    white-space: nowrap;
    overflow: hidden;
}

#hud #playerInfo #scorebar {
    position: relative;
    width: 100%;
    height: 25%;
    white-space: nowrap;
    overflow: hidden;
    /*border-style: solid;
    border-width: thin;*/
    background-size: contain;
    background-color: #00ec00;
    border-radius: 10%;
    top: 10%;
}

#hud #leaderBoard {
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    width: 25%;
    height: 60%;
    border-style: solid;
    border-width: thin;
    white-space: nowrap;
    overflow: hidden;
    background-color: #aaaaff;
    /*display: none;*/
}

#hud #leaderBoard h2{
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: thin;
}

#hud #leaderBoard #groupsContainer {
    width: 100%;
    height: 90%;
    border-style: solid;
    border-width: thin;
}

#hud #leaderBoard #groupsContainer .group {
    width: 100%;
    height: 25%;
    border-style: solid;
    border-width: thin;
}

#hud #leaderBoard #groupsContainer #groupInfo {
    width: 95%;
    height: 100%;
    border-style: solid;
    border-width: thin;
    margin: auto;
}

#hud #leaderBoard #groupsContainer #groupInfo #rank {
    width: 18%;
    height: 100%;
    display: float;
    float: left;
    border-style: solid;
    border-width: thin;
}

#hud #leaderBoard #groupsContainer #groupInfo #playerInfo {
    position: static;
    display: float;
    float: left;
    width: 60%;
    height: 100%;
    border-style: solid;
    border-width: thin;
}

#hud #leaderBoard #groupsContainer #groupInfo #playerInfo #player{
    width: 100%;
    height: 50%;
    /*border-style: solid;
    border-width: thin;*/
}

#hud #leaderBoard #groupsContainer #groupInfo #playerInfo #player .imageContainer{
    width: 30%;
    height: 100%;
    /*border-style: solid;
    border-width: thin;*/
}

#hud #leaderBoard #groupsContainer #groupInfo #playerInfo #player .nameContainer{
    width: 65%; /*70%*/
    height: 100%;
    /*border-style: solid;
    border-width: thin;*/
}

#hud #leaderBoard #groupsContainer #groupInfo #score {
    display: float;
    float: left;
    width: 20%; /*20%*/
    height: 100%;
    border-style: solid;
    border-width: thin;
}


