.MuziFace {
    background-image: url(../../assets/MuziFace.js);
    background-size: contain;
}

.KuroFace {
    background-image: url(../../assets/KuroFace.js);
    background-size: contain;
}

#game-container #local_playerInfo {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 20%;
    height: 20%;
    z-index: 1;
    display: none;
    /*flex-direction: row;
    background-color: #6c6c6c;*/
    /*opacity: 1;
    border-radius: 5%;*/
}

#game-container #local_playerInfo #local_player, #game-container #local_playerInfo #partner {
    position: absolute;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

#game-container #local_playerInfo .imageContainer {    
    width: 20%;
    height: 100%;
    border-radius: 50%;
    background-color: #4dffff;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 1px 0px 5px #cbd8d7;
    z-index: 5;
}

#game-container #local_playerInfo .nameContainer {
    position: relative;
    width: 70%;
    height: 60%;
    top: 18%;
    left: -6%;
    /*display: flex;*/
    box-shadow: 0 0 0px 2px #270d05;
    border-top-left-radius: 10% 60%;
    border-top-right-radius: 10% 60%;
    border-bottom-left-radius: 10% 60%;
    border-bottom-right-radius: 10% 60%;
    background-color: #84a97d;
    z-index: 4;
}

#game-container #local_playerInfo #partner {
    top: 25%;
    left: 10%;
    z-index: 5;
}

#game-container .local_playerName, #game-container .partnerName{
    position: relative;
    width: 80%;
    height: 75%;
    /*align-items: center;*/
    white-space: nowrap;
    overflow: hidden;
    top: -10%;
    left: 15%;
    font-size: 100%;
    font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}

#game-container #local_playerInfo #scorebar {
    position: relative;
    width: 85%;
    height: 20%;
    white-space: nowrap;
    overflow: hidden;
    background-size: contain;
    background-color: #00ec00;
    border-radius: 10%;
    top: 70%;
    left: 5%;
    box-shadow: 0px 0px 10px 3px #1f6941;
    border-top-left-radius: 8% 50%;
    border-top-right-radius: 8% 50%;
    border-bottom-left-radius: 8% 50%;
    border-bottom-right-radius: 8% 50%;
}

#game-container #leaderBoard {
    position: absolute;
    top: 1vh;
    right: 0.5vw;
    width: 25%;
    height: 80%;
    white-space: nowrap;
    overflow: hidden;
    /*background-color: #aaaaff;*/
    border-top-left-radius: 8% 4%;
    border-top-right-radius: 8% 4%;
    border-bottom-left-radius: 8% 4%;
    border-bottom-right-radius: 8% 4%;
    background-image: linear-gradient(#7983ca 5%, #162fab9c 60%, #1d2da2f5);
    display: none;
}

#game-container #leaderBoard h2{
    width: 100%;
    text-align: center;
    font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}

#game-container #leaderBoard #groupsTable {
    width: 100%;
    height: 90%;
    /*background-color: #404a4a;*/
}

#game-container #leaderBoard .groupContainer {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    /*background-color: #4dffff;*/
}

#game-container #leaderBoard .group {
    width: 95%;
    height: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 4% 8%;
    border-top-right-radius: 4% 8%;
    border-bottom-left-radius: 4% 8%;
    border-bottom-right-radius: 4% 8%;
    background-color: #ffffff;
}

#game-container #leaderBoard .rank {
    width: 18%;
    height: 50%;
    margin: auto;
    /*background-color: #445461;*/
    text-align: center;
    vertical-align: middle;
    line-height: 120%;
    font-size: 400%;
    font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}

#game-container #leaderBoard .playerInfo {
    width: 50%;
    height: 100%;
    margin: auto;
    /*background-color: bisque;*/
}

#game-container #leaderBoard .player{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

#game-container #leaderBoard .imageContainer{
    position: relative;
    width: 30%;
    height: 80%;
    border-radius: 50%;
    background-color: #4dffff;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 1px 0px 5px #cbd8d7;
    top: 10%;
    left: 5%;
    z-index: 5;
}

#game-container #leaderBoard .nameContainer{
    position: relative;
    width: 100%;
    height: 60%;
    border-top-left-radius: 10% 60%;
    border-top-right-radius: 10% 60%;
    border-bottom-left-radius: 10% 60%;
    border-bottom-right-radius: 10% 60%;
    background-color: #84a97d;
    top: 18%;
    z-index: 4;
    font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}

#game-container #leaderBoard .playerName {
    position: relative;
    width: 80%;
    height: 80%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    top: -30%;
    left: 15%;
    font-size: 150%;
    font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}

#game-container #leaderBoard .score {
    width: 30%;
    height: 80%;
    margin: auto;
    /*background-color: #c7c46f;*/
    text-align: center;
    vertical-align: middle;
    line-height: 400%;
    font-size: 200%;
    font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}


